body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
color: #000;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  .cara {
    font-size: 48px;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 40;
    left: 20;
    display: none;
}
  /* Ocultar todas las caras excepto la primera al principio */
.cara.oculta {
    display: none;
}
